<%- include("header") -%>

<h1>About Me</h1>
<p><em>What was it about this place that was so enchanting? Even with my queasiness, I couldn’t help feeling charmed by it from the old brass door knockers shaped by a lady’s hand to the women, young and old, with their sultry eyes and obvious confidence. As we walked by the cafés I tried not to stare at the people sitting there, their beautiful French words twirling out of their mouths, mingling with the swirls of coffee perfuming the crisp morning air. I wanted to understand it all, the Frenchness of this place. I wanted to be part of it and for it to be part of me—a part of us, our family.  We hoped to have four years or so in France. Could that happen in four years? We were nervous, yes, but our American hearts were open. Could we be French too, just for a little while? French, not by citizenship, but by heart.</em></p>
<p>~Rebecca S. Ramsey </p>

<%- include("footer") -%>